{:deps
 {mogenslund/liquid
  {:git/url "https://github.com/mogenslund/liquid.git",
   :tag "",
   :sha "2ba63d5be31e782d65d5e3d7842496a0d2f46129"},
  com.google.code.gson/gson {:mvn/version "2.8.2"}},
 :paths ["src"]}
